{% extends "salt/saltesports.html" %}

{% block body %}

<h3>about us</h3>
    <p>salt esports is an esports team organized by james peck also more well known as puresalt for competitive smash ultimate and is primarily focused on talent within northern california. 
        this team was founded in august 2024 in hopes of growing the opportunities and the scene for talent within norcal.
    <br/> <br/>
    during his time in the competitive norcal smash ultimate scene, james realized that a large majority of our best players are not given the opportunities to perform outside of the region, so he decided to
start this team that would hopefully allow these players to gain not only exposure but experience as well.</p>

{% endblock %}