{% extends "salt/saltesports.html" %}

{% block body %}


<h3>content</h3>
<p>
    some of our team members also produce content either for the team or just in general. here below is content that are either for or from the team.
</p>

<br/><br/>

<h3>
    salt esports reveal 1 - <a href="% url 'salt_app:matt' %">lonelymatt</a> - 10/2/24
</h3>
<h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zVEeZFay3I4?si=CjydaCl268Jbvrh6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</h3>
<p>
    this video was made to reveal players <a href="{% url 'salt_app:latios' %}">latio$</a>, <a href="% url 'salt_app:nessboy12' %">nessboy12</a>, <a href="% url 'salt_app:azrael' %">azrael</a>, and <a href="% url 'salt_app:era' %">era</a> as team members of salt esports. this was also <a href="% url 'salt_app:matt' %">lonelymatt</a>'s first commission from norcal smash ultimate.
</p>
<br/><br/>
<h3>
    ness on addy by <a href="% url 'salt_app:nessboy12' %">nessboy12</a> - <a href="% url 'salt_app:matt' %">lonelymatt</a> - 12/14/24
</h3>
<h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DyAM-SbGJik?si=aFTGdUadZIjcPNMv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</h3>
<p>
    this video is a highly edited complilation of <a href="% url 'salt_app:nessboy12' %">nessboy12</a>'s best plays. since he was known for his flashy and explosive combos even in tournament, <a href="% url 'salt_app:matt' %">lonelymatt</a> wanted to make a video highlighting his play.
</p>
<br/><br/>
<h3>
    wyk abt squidside bakery by <a href="% url 'salt_app:shrutikmk' %">$hrutik</a> - <a href="% url 'salt_app:matt' %">lonelymatt</a> - 2/2/25
</h3>
<h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/vqGI9Otzohs?si=LcJAmbEfh3PpKlfZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</h3>
<p>
    this video is a highly edited complilation of <a href="% url 'salt_app:shrutikmk' %">$hrutik</a>'s best plays with inkling.
</p>

<br/><br/>

<h3>
    ness yoyo counterplay video - <a href="% url 'salt_app:nessboy12' %">nessboy12</a> - 2/18/25
</h3>
<h3>
    <iframe width="560" height="315" src="https://youtube.com/embed/DJZaNVaSgJg?si=bcJrvxdjfOAGvkzM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</h3>
<p>
    this is a short by <a href="% url 'salt_app:nessboy12' %">nessboy12</a> that goes over how to counterplay ness' yoyo on shield. <a href="% url 'salt_app:nessboy12' %">nessboy12</a> talked about wanting to hop on the content train as he knew this short style of video is what gathers the most attention.
</p>
<br/><br/>
<h3>
    ness' hardest kill confirm - <a href="% url 'salt_app:nessboy12' %">nessboy12</a> - 2/28/25
</h3>
<h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/2CsfJAQiagk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</h3>
<p>
    this is a short by <a href="% url 'salt_app:nessboy12' %">nessboy12</a> that goes into detail his most difficult kill confirm: footstool pk fire -> down air at ledge.
</p>


{% endblock %}