{% extends "salt/saltesports.html" %}

{% block body %}


<h3>content</h3>
<h3>
    salt esports reveal 1 - lonelymatt
</h3>
<h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zVEeZFay3I4?si=CjydaCl268Jbvrh6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</h3>
<p>
    this video was made to reveal players latio$, nessboy12, azrael, and era as team members of salt esports. this was also lonelymatt's first commission from norcal smash ultimate.
</p>
<br/><br/>
<h3>
    ness on addy by nessboy12 - lonelymatt
</h3>
<h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DyAM-SbGJik?si=aFTGdUadZIjcPNMv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</h3>
<p>
    this video is a highly edited complilation of nessboy12's best plays. since he was known for his flashy and explosive combos even in tournament lonelymatt wanted to make a video highlighting his play.
</p>
<br/><br/>
<h3>
    wyk abt squidside bakery by $hrutik - lonelymatt
</h3>
<h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/vqGI9Otzohs?si=LcJAmbEfh3PpKlfZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</h3>
<p>
    this video is a highly edited complilation of $hrutik's best plays with inkling.
</p>

<br/><br/>

<h3>
    ness yoyo counterplay video - nessboy12
</h3>
<h3>
    <iframe width="560" height="315" src="https://youtube.com/embed/DJZaNVaSgJg?si=bcJrvxdjfOAGvkzM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</h3>
<p>
    this is a short by nessboy12 that goes over how to counterplay ness's yoyo on shield. nessboy12 talked about wanting to hop on the content train as he knew this short style of video is what gathers the most attention.
</p>
<br/><br/>
<h3>
    ness's hardest kill confirm - nessboy12
</h3>
<h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/2CsfJAQiagk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</h3>
<p>
    this is a short by nessboy12 that goes into detail his most difficult kill confirm: footstool pk fire -> down air at ledge.
</p>


{% endblock %}