{% extends "salt/saltesports.html" %}

{% load static %}

{% block body %}
<h3>gallery</h3>

<p>photos of team members taken at random/big events!</p>

<h3>

    <div class="galleryflex-container">
        <div id="gallery-container">
            <img id="picture" src="{% static 'salt\images\Will vs Gackt.jpg' %}">
            <div id="gallery_text">
                <a href="{% url 'salt_app:widara' %}">widara</a> vs riddles <br>
                 @ genesis x2
            </div>
        </div>

        <div id="gallery-container">
            <img id="picture" src="{% static 'salt\images\Andrew Popoff.jpg' %}">
            <div id="gallery_text">
                <a href="{% url 'salt_app:nessboy12' %}">nessboy12</a> pops off <br>
                 @ genesis x2
            </div>
        </div>

        <div id="gallery-container">
            <img id="picture" src="{% static '\salt\images\Luis at Genesis.jpg' %}">
            <div id="gallery_text">
                <a href="{% url 'salt_app:lui$' %}">lui$</a> shakes opp's hand <br>
                 @ genesis x2
            </div>
        </div>

        <div id="gallery-container">
            <img id="picture" src="{% static 'salt\images\DSC02432.jpg' %}">
            <div id="gallery_text">
                <a href="{% url 'salt_app:dtier' %}">dtier</a> playing his set <br>
                 @ genesis x2
            </div>
        </div>

        <div id="gallery-container">
            <img id="picture" src="{% static 'salt\images\IMG_2395.png' %}">
            <div id="gallery_text">
                <a href="{% url 'salt_app:steamy' %}">steamy</a> after defeating raflow <br>
                 @ genesis prelocal day 1
            </div>
        </div>

        <div id="gallery-container">
            <img id="picture" src="{% static 'salt\images\7ae48359ff0749cd1f3da1379829d4fe.jpg' %}">
            <div id="gallery_text">
                shot of <a href="{% url 'salt_app:shrutikmk' %}">$hrutik</a> with friends <br>
                 @ genesis prelocal day 2
            </div>
        </div>
    </div>

</h3>
{% endblock %}