{% extends "salt/saltesports.html" %}

{% block body %}

<h3>members</h3>


   {% block content %} 
    <p>
        <a class="button grayButton" href="{% url 'salt_app:puresalt' %}">puresalt</a>
        <a class="button grayButton" href="{% url 'salt_app:shrutik' %}">shrutik</a>
        <a class="button grayButton" href="{% url 'salt_app:nessboy12' %}">nessboy12</a>
        <a class="button grayButton" href="{% url 'salt_app:latios' %}">latios</a>
        <a class="button grayButton" href="{% url 'salt_app:dtier' %}">dtier</a>
        <a class="button grayButton" href="{% url 'salt_app:rodnysalt' %}">rodnysalt</a>
        <a class="button grayButton" href="{% url 'salt_app:steamy' %}">steamy</a>
        <a class="button grayButton" href="{% url 'salt_app:puresalt' %}">era</a>
        <a class="button grayButton" href="{% url 'salt_app:puresalt' %}">widara</a>
        <a class="button grayButton" href="{% url 'salt_app:azrael' %}">azrael</a>
    </p>
       
    
    
    
    
    
    
    
    <h4>era</h4>
        <h5>player</h5>
    <h4>widara</h4>
        <h5>player</h5>
    <h4>fletchling</h4>
        <h5>player</h5>
    <h4>lui$</h4>
        <h5>player</h5>
    <h4>saltlord</h4>
        <h5>player</h5>
    <h4>alex alsoda sodipop</h4>
        <h5>player</h5>
        <h5>alex soto</h5>
        <h5>"the joker roy player"</h5>
    <h4>snorlax</h4>
        <h5>commentator</h5>
    <h4>marsbars</h4>
        <h5>commentator/player</h5>
    <h4>phi</h4>
        <h5>graphic designer</h5>
    <h4>lonelymatt</h4>
        <h5>video editor/player</h5>
    <h4>ikan</h4>
        <h5>player</h5>
    <h4>kurama</h4>
        <h5>player</h5>
    <h4>versed ace</h4>
        <h5>team coach</h5>
    {% endblock %}

{% endblock %}