{% extends "salt/saltesports.html" %}

{% load static %}


{% block body %}



<h3>members</h3>
   {% block content %}
   <h3>

    <div class="flex-container">
        <div id="player-container">
            <a href="{% url 'salt_app:lonelymatt' %}" id="player-link">
                <img id="player" src="{% static 'salt/images/IMG_7156.jpg' %}">
                <div id="player_text">
                    <h3>lonelymatt</h3>
                    matt(hew) chung
                    <br/><br/>
                    <li>video editor</li>
                    <li>webpage manager</li>
                    <li>player</li>
                    <br/>
                    "resident abb"
                </div>
            </a>
        </div>
        <div id="player-container">
            <a href="{% url 'salt_app:nessboy12' %}" id="player-link">
                <img id="player" src="{% static 'salt\images\20241125_195115.jpg' %}">
                <div id="player_text">
                    <h3>nessboy12</h3>
                    andrew nguyen
                    <br/><br/>
                    <li>webpage manager</li>
                    <li>player</li>
                    <br/>
                    "adderall ness"
                </div>
            </a>
        </div>
    </div>

    

    </h3>

    <p>
        
        <a class="grayButton" href="{% url 'salt_app:puresalt' %}">puresalt</a>
        <a class="grayButton" href="{% url 'salt_app:shrutik' %}">shrutik</a>
        <a class="grayButton" href="{% url 'salt_app:nessboy12' %}">nessboy12</a>
        <a class="grayButton" href="{% url 'salt_app:latios' %}">latios</a>
        <a class="grayButton" href="{% url 'salt_app:dtier' %}">dtier</a>
        <a class="grayButton" href="{% url 'salt_app:rodnysalt' %}">rodnysalt</a>
        <a class="grayButton" href="{% url 'salt_app:steamy' %}">steamy</a>
        <a class="grayButton" href="{% url 'salt_app:era' %}">era</a>
        <a class="grayButton" href="{% url 'salt_app:widara' %}">widara</a>
        <a class="grayButton" href="{% url 'salt_app:azrael' %}">azrael</a>
        <a class="grayButton" href="{% url 'salt_app:marsbars' %}">marsbars</a>
        <a class="grayButton" href="{% url 'salt_app:fletchling' %}">fletchling</a>
        <a class="grayButton" href="{% url 'salt_app:lui$' %}">lui$</a>
        <a class="grayButton" href="{% url 'salt_app:phi' %}">phi</a>

        <!--<a href="{% url 'salt_app:lonelymatt' %}">
            <img class="imageButton" src="{% static 'salt/images/IMG_7156.jpg' %}" alt="matt">
        </a> -->
        
        <a class="button grayButton" href="{% url 'salt_app:snorlax' %}">snorlax</a>
        <a class="button grayButton" href="{% url 'salt_app:versedace' %}">versed ace</a>

        <!-- UNREVEALED PLAYERS-->
        <!-- <a class="button grayButton" href="{% url 'salt_app:saltlord' %}">saltlord</a> -->
        <!-- <a class="button grayButton" href="{% url 'salt_app:alsoda' %}">alsoda</a> -->
        <!-- <a class="button grayButton" href="{% url 'salt_app:ikan' %}">ikan</a> -->
        <!-- <a class="button grayButton" href="{% url 'salt_app:kurama' %}">kurama</a> -->


        
    
    </p>
    
    {% endblock %}

{% endblock %}