{% extends "salt/saltesports.html" %}

{% block body %}

<h3>recent activity</h3>

<h4>genesis x2</h4>

<p>genesis x2 was the biggest smash ultimate tournament of the year and had many of the top lumiranked players in attendance including sparg0, miya, acola, hurt, sonix, tweek, gluutony, raflow, and many others.
    Many of our players were in attendance and some had exceptional runs in the bracket. 

    our very own <a href="{% url 'salt_app:lui$' %}">lui$</a> and kurama have entered smash ultiamte doubles as a team and took first place beating ΩRugal/Sparg0, miya/hurt, and plenty of other top player duos. 

    <br/><br/>

    most of our players also had exceptional runs in the singles bracket for ultimate. <a href="{% url 'salt_app:lui$' %}">lui$</a> placed 25th 
    losing to bayonetta main lima and captain falcon main jogibu while beating jdv and apollokage on the way. kurama placed 17th losing to tweek and miya beating 
    riddles, raflow, taikei, and andrik. our very own <a href="{% url 'salt_app:latios' %}">latio$</a> placed 49th 
    beating lammers44 and wintershorts but came short to banjo extrordinare トリグリ and apollokage. web developer <a href="{% url 'salt_app:nessboy12' %}">nessboy12</a>
    got himself a 65th with wins over fellow norcal player twan and bbw, but unfortunately he came short losing to mfa and luugi, who himself placed 5th at the very same tournament.
    self proclamed "group leader" <a href="{% url 'salt_app:shrutikmk' %}">$hrutik</a> placed 97th beating players like syphir fellow norcal player leonidas while losing to raflow and had his run cut short by ness main charlie d.

    <br/><br/> 

    the most notable run was widara, who placed 33rd losing to tweek and hero. on the way there, he had to beat riddles and gackt. outside of <a href="{% url 'salt_app:lui$' %}">lui$</a>, he was the only other member of the team to 
    make it to top 64 winners side. not only was widara the cinderella player of salt esports, but of norcal smash ultiamte as a whole. he is unable to travel to larger events as consistently but was able to show off what he could do piloting
    bowser jr. to new heights.
</p>

{% endblock %}