{% extends "salt/saltesports.html" %}

{% block body %}

<h3>recent activity</h3>

<h4>genesis x2</h4>

<p>genesis x2 was the first major smash ultimate tournament of the year and had many of the top lumiranked players in attendance including sparg0, miya, acola, hurt, sonix, tweek, gluutony, raflow, and many others.
    Many of our players were in attendance and some had exceptional runs in the bracket. 

    <br/><br/>

    our very own <a href="{% url 'salt_app:luis' %}">lui$</a> entered doubles alongside kurama and took first place beating ΩRugal/Sparg0, miya/hurt, and plenty of other top player duos, cementing their place as one of the best doubles teams in the entire world. 

    <br/><br/>

    <a href="{% url 'salt_app:luis' %}">lui$</a> also placed 25th in singles, beating jdv and apollokage. <br/>

    <a href="{% url 'salt_app:widara' %}">widara</a>, placed 33rd beating riddles and gackt to make top 64 winner's side, outperforming his seed by 3 rounds. <br/>

    <a href="{% url 'salt_app:latios' %}">latio$</a> placed 49th beating lammers44 and wintershorts, outperforming his seed by 2 rounds. <br/>
    
    <a href="{% url 'salt_app:nessboy12' %}">nessboy12</a> placed 65th beating twan and bbw, placing his seed. <br/>
    self proclamed "group leader" <a href="{% url 'salt_app:shrutikmk' %}">$hrutik</a> placed 97th beating syphir and leonidas.

    <br/><br/> 

{% endblock %}