{% extends "salt/members.html" %}

{% load static %}

{% block content %}


<img id="page-profile-picture" src="{% static 'salt/images/Fletchling1.png' %}">

<h4>fletchling</h4>
        <h5>melissa grove</h5>
        <h5>player</h5>
        <h5>"queen of north bay"</h5>
        <p>
                Fletchling is a solo Robin main who started competing in online tournaments near the end of 2021 and traveled to her first local in Northbay about a month later. 
                Her playstyle could be described as mostly defensive with some aggression and bait and punish tactics. While travelling has been a significant difficulty for north bay,
                 over time she has defeated well known players such as Steamy, Jehtt, Alsoda, Smax, dre, jenghi, ramonM64, Katar, Skeletal, Sandfall, JMar,
                 DTier, Ako, Rodnysalt, ERA, Crimsym, Terra, Smallleft, Mayor of LeBronto Canada (Future Doctor), Troubles, Saltlord, Puresalt, H.3.K, ScioN and SolidTips.
                Notable online wins include Grymlynn, Osh9, JeJaJeJa, Many, rm8, and Superberry. Fletchling has also placed well in doubles tournaments and wishes there was more interest in doubles from the community. 
                She was officially announced as a member of Salt eSports on October 9th, 2024.
                <br/><br/>
                Fun fact: While a huge fan and advocate of the ProGCC (even assisting with its development/testing for a short period), Fletchling hopes to eventually switch to an all digital controller and is currently in the process of customizing her Smashbox.
        </p> 
        <h5>other hobbies</h5>
        <p>
                <ul>
                        <li>video games</li>
                        <li>board games</li>
                        <li>bird watching</li>
                </ul>
        </p>
        <h5>favorite song</h5>
        <p>Depends on mood, these are some genres I like: Dance/Electronic, Rock, Pop, Alternative, Symphonic metal, Synthwave, Epic Orchestral, Videogame songs/remixes <a href="" target="_blank"></a></p>
        <h5>notable career moment</h5>
        <p>Summer quarter of 2022 - Multiple top 8 placements at larger tournaments and achieved rank 18 on the NorCal PR</p>
        <h5>favorite food</h5>
        <p>popcorn</p>
        <h5>why do you play this game?</h5>
        <p>"Desire to improve and have fun along the way. Enjoy solving problems/theorizing"</p>
{% endblock %}