{% extends "salt/members.html" %}

{% block content %}

<h4>ikan</h4>
        <h5>anik singh</h5>
        <h5>player</h5>
        <h5>"world warrior"</h5>
            <p>Ikan is a top-level Ryu main from norcal who goes to chicago for school. He is known for his international endeavors, having visited smash scenes from all around the world and performed well at big tournaments from all over the globe.
                
                <br/><br/>
                </p>
                <h5>Playstyle</h5>

                <p>ikan is known for his aggressive movement and gets a lot of mileage from forcing
                        specific interactions and getting high-reward reads. however, he is also not afraid to play it slow for the opening so that he can pick his interactions with 
                        confidence and decisiveness. Win or lose, there will always be a smile on his face for the ability to swiftly hunt his opponents down. </p>
        <h5>other hobbies</h5>
            <p>
                <ul>
                        <li>climbing</li>
                        <li>dancing</li>
                        <li>ice skating</li>
                        <li>horse riding</li>
                        
                </ul>
            </p>
        <h5>favorite song</h5>
            <p> <a href="https://www.youtube.com/watch?v=ljCJAvVnA20" target="_blank">Come Over - Carly Rae Jepsen</a></p>
        <h5>notable career moment</h5>
            <p>Getting 9th place @ Genesis 8</p>
        <h5>favorite food</h5>
            <p>sushi</p>
        <h5>why do you play this game?</h5>
            <p>"Originally it was to prove myself and see what I could do after being stuck online (and on 3ds). Now it’s moreso to travel and meet people because I truly believe 
                that I am happiest when I am interacting and creating new memories w ppl, and the community of faces all united under 1 interest makes it easy"</p>
        <h5>socials</h5>    
            <p><a class="button grayButton" href="https://x.com/Lonely_Matt" target="_blank">twitter</a>
                <a class="button grayButton" href="https://www.instagram.com/lonelymatt___/?hl=en" target="_blank">instagram</a>
                <a class="button grayButton" href="https://www.youtube.com/@LonelyMatt" target="_blank">youtube</a></p>

{% endblock %}