{% extends "salt/members.html" %}

{% block content %}

<h4>latios</h4>
        <h5>michael sheen</h5>
        <h5>player</h5>
        <h5>(Come up with smth later)</h5>
            <p>(Write smth here)
            </p> 
        <h5>hobbies</h5>
            <p>
                <ul>
                    <li>Fashion</li>
                    <li>Reading</li>
                    <li>Jewelry Making</li>
            </ul>
            </p>
        <h5>favorite song</h5>
            <p> <a href="https://www.youtube.com/watch?v=VR8ooa3G_5M&pp=ygUQYW1vZWJhIGJ5IGNsYWlybw%3D%3D" target="_blank">amoeba - clairo</a></p>
        <h5>notable career moment</h5>
            <p>Reaching #3 norcal for spring 2024</p>
        <h5>favorite food</h5>
            <p>naengmyeon</p>
        <h5>why do you play this game?</h5>
            <p>"making and maintaining close friendships, having a craft to improve in, getting recognition (lol)"</p>
{% endblock %}