{% extends "salt/members.html" %}

{% block content %}

<h4>lui$</h4>
        <h5>Luis Oceguera</h5>
        <h5>commentator/player</h5>
        <h5>"norcal's goat"</h5>

                <p>lui$ is the best palutena player in the world and is currently top 50 lumiranked in the world. he has wins over many lumiranked players such as miya, hurt, mkleo, and many others. his playstyle as he describes it is mostly grounded in fundamentals with sprinkles with aggressive hard callouts
                        when least expected. </p> 
        <h5>hobbies</h5>
        <p>
                <ul>
                        <li>basketball</li>
                        <li>gym</li>
                        <li>sports betting</li>
                </ul>
        </p>
        <h5>favorite song</h5>
                <p><a href="https://youtu.be/up6Nxg17opQ?si=_zRaMqB7JzfXkLiH" target="_blank">Initial D 5th Stage Soundtrack - The Top</a></p>
        <h5>notable career moment</h5>
                <p>first major top 8 at super smash con 2019</p>
        <h5>favorite food</h5>
                <p>pupusas</p>
        <h5>why do you play this game?</h5>
                <p>"I play the game because I love competition and smash is always a game I’ve had fun with, also love the community I’m a part of(shoutouts to NorCal!) "</p>

{% endblock %}