{% extends "salt/members.html" %}

{% block content %}

<h4>marsbars</h4>
        <h5>mario valenzuela</h5>
        <h5>commentator/player</h5>
        <h5>"mario barrio"</h5>

        <p>mario valenzuela also better known as marsbars is a notable commentator and player for the smash ultimate scene in norcal.  </p> 
        <h6>hobbies</h6>
            <p>
                <ul>streaming</ul>
                <ul>watching and attending sports events</ul>
                <ul>fighting games</ul>
            </p>
        <h6>favorite song</h6>
            <p>we'll be right bacc</p>
        <h6>notable career moment</h6>
            <p>commentating at genesis x</p>
        <h6>favorite food</h6>
            <p>pupusas</p>
        <h6>why do you play this game?</h6>
            <p>"i play this game because i grew up with the smash bros. series since its first release and i happened to end up competing and commentating"</p>

{% endblock %}