{% extends "salt/members.html" %}

{% block content %}

<h4>lonelymatt</h4>
        <h5>matt(hew) chung</h5>
        <h5>video editor/webpage manager/player</h5>
        <h5>"norcal's resident abb"</h5>
            <p>lonelymatt is an upcoming video editer within the norcal smash scene. matt first got traction for his video editing with his first montage of hewdraw remix on his youtube channel named "soar the skies." 
                fellow team member $hrutik noticed his skillset and made an offer to him for the first ever salt esports reveal. since then he has made himself a name for video editng in the norcal smash community and eventually was signed
                as a video editor for salt esports. 
                <br/><br/>
                matt is also one of the two managers for this website (hi that's me) and is looking to improve and update it as time goes on. him and nessboy12 decided this would be a good idea to not only update their compter science resumes
                but to also help give the team some more validity as well as esposure.
                <br/><br/>
                from time to time matt also competes in smash ultimate like most of the team. although he is not on the same calibur as most team members he has picked up some decent placings and wins on locally known players such as moose878, uzo, and airmac.
                </p> 
        <h5>hobbies</h5>
            <p>
                <ul><s>keshi, illenium, dabin, slander, boba, etc.</s></ul>
                <ul>lifting</ul>
                <ul>tennis</ul>
                <ul>volleyball</ul>
                <ul>playing other platfighers like hewdraw remix and rivals 2</ul>
                <ul>raving</ul>
                <ul>music production</ul>
                <ul>video editing</ul>
                <ul>playing piano</ul>
                <ul>walks</ul>
            </p>
        <h5>favorite song</h5>
            <p>first time - seven lions, dabin, slander, dylan matthew</p>
        <h5>notable career moment</h5>
            <p>finishing "ness on addy" for nessboy12</p>
        <h5>favorite food</h5>
            <p>bulgogi dol sot</p>
        <h5>why do you play this game?</h5>
            <p>"i like doing cool stuff and all my friends play the game and are way better than me."</p>


{% endblock %}