{% extends "salt/members.html" %}

{% block content %}

<h4>lonelymatt</h4>
        <h5>matt(hew) chung</h5>
        <h5>video editor</h5>
        <h5>webpage manager</h5>
        <h5>player</h5>
        <h5>"norcal's resident abb"</h5>
            <p>lonelymatt is an upcoming video editor within the norcal smash scene. matt first got traction for his video editing with his first montage of hewdraw remix named <a href="https://youtu.be/asgMR_LH1A8?si=KaYtBwZCylkRCKa8" target="_blank">"soar the skies"</a> on his youtube channel.  
                team manager <a href="{% url 'salt_app:shrutik' %}">$hrutik</a> noticed his skillset and made an offer to him for the <a href="https://youtu.be/zVEeZFay3I4?si=tdSS9jHBlP6nft68" target="_blank">first ever salt esports reveal</a>. since then he started making a name for himself for video editng and eventually was signed
                as a video editor for salt esports. 
                <br/><br/>
                matt is also one of the two managers for this website (hi that's me) and is looking to improve and update it as time goes on. he and <a href="{% url 'salt_app:nessboy12' %}">nessboy12</a> decided this would be a good idea to not only update their compter science resumes
                but to also help give the team some more validity as well as esposure.
                <br/><br/>
                from time to time matt also competes in smash ultimate like most of the team. although he is not on the same calibur as most team members he has picked up some decent placings and wins on locally known players such as uzo and airmac.
                </p> 
        <h5>other hobbies</h5>
            <p>
                <ul>
                        <li><s>keshi, illenium, dabin, slander, boba, stussy, essentials, seaside, tisane, omomo, sparcos, etc.</s></li>
                        <li>lifting</li>
                        <li>tennis</li>
                        <li>volleyball</li>
                        <li>playing other platfighers like hewdraw remix and rivals 2</li>
                        <li>raving</li>
                        <li>music production</li>
                        <li>video editing personal/other stuff</li>
                        <li>playing piano</li>
                        <li>walks</li>
                        <li>late night drives</li>
                        <li>cafe hopping</li>
                </ul>
            </p>
        <h5>favorite song</h5>
            <p> <a href="https://open.spotify.com/track/27YD36FUikKxbp3bKSiKGZ?si=6b4b582d005b450b" target="_blank">first time - seven lions, dabin, slander, dylan matthew</a></p>
        <h5>notable career moment</h5>
            <p>finishing <a href="https://youtu.be/DyAM-SbGJik?si=BjIjKkzQa1zXM347" target="_blank">"ness on addy"</a> for <a href="{% url 'salt_app:nessboy12' %}">nessboy12</a></p>
        <h5>favorite food</h5>
            <p>bulgogi dol sot</p>
        <h5>why do you play this game?</h5>
            <p>"i like doing cool stuff and all my friends play the game and are way better than me."</p>


{% endblock %}