{% extends "salt/members.html" %}

{% block content %}

<h4>lonelymatt</h4>
        <h5>video editor/webpage manager/player</h5>
        <h5>"norcal's resident abb"</h5>
            <p>lonelymatt is an upcoming video editer within the norcal smash scene. </p> 
        <h6>hobbies</h6>
            <p>
                <ul><s>keshi, illenium, dabin, slander, boba, etc.</s></ul>
                <ul>lifting</ul>
                <ul>tennis</ul>
                <ul>volleyball</ul>
                <ul>playing other platfighers like hewdraw remix and rivals 2</ul>
                <ul>raving</ul>
                <ul>music production</ul>
                <ul>playing piano</ul>
                <ul>walks</ul>
            </p>
        <h6>favorite song</h6>
            <p>first time - seven lions, dabin, slander, dylan matthew</p>
        <h6>notable career moment</h6>
            <p>creating the first salt esports reveal</p>
        <h6>favorite food</h6>
            <p>bulgogi dol sot</p>
        <h6>why do you play this game?</h6>
            <p>"i like doing cool stuff and all my friends play the game and are way better than me."</p>


{% endblock %}