{% extends "salt/members.html" %}

{% block content %}

<h4>nessboy12</h4>
        <h5>player</h5>
        <h5>andrew nguyen</h5>
        <h5>"ness on adderall"</h5>
            <p>nessboy12 also known as andrew "andy" nguyen is a well known ness player within the community and has been competing for quite some time. </p> 
        <h6>hobbies</h6>
            <p>
                <ul>running</ul>
                <ul>tennis</ul>
                <ul>volleyball</ul>
                <ul>labbing ness combos</ul>
            </p>
        <h6>favorite song</h6>
            <p>never gonna give you up - rick astley</p>
        <h6>favorite career moment</h6>
            <p>win vs pro player raflow at the genesis x prelocal</p>
        <h6>favorite food</h6>
            <p>steak</p>
        <h6>why do you play this game?</h6>
            <p>"it's fun LOL"</p><h4>nessboy12</h4>
            <h5>player</h5>
            <h5>andrew nguyen</h5>
            <h5>"ness on adderall"</h5>
                <p>nessboy12 also known as andrew "andy" nguyen is a well known ness player within the community and has been competing for quite some time. </p> 
            <h6>hobbies</h6>
                <p>
                    <ul>running</ul>
                    <ul>tennis</ul>
                    <ul>volleyball</ul>
                    <ul>labbing ness combos</ul>
                </p>
            <h6>favorite song</h6>
                <p>never gonna give you up - rick astley</p>
            <h6>favorite career moment</h6>
                <p>win vs pro player raflow at the genesis x prelocal</p>
            <h6>favorite food</h6>
                <p>steak</p>
            <h6>why do you play this game?</h6>
                <p>"it's fun LOL"</p>

{% endblock %}