{% extends "salt/members.html" %}

{% block content %}

<h4>nessboy12</h4>
        <h5>player</h5>
        <h5>andrew nguyen</h5>
        <h5>"ness on adderall"</h5>
            <p>nessboy12, often shortened to just "nessboy" is a well known ness player within the community and has been competing for quite some time. 
                he is primarily known for his flashy combo game and technical proficiency with ness, but he's also a long-time member of NorCal's power rankings and has
                accumulated multiple wins on lumiranked players. <br/> <br/>
            
                nessboy is also one of the two managers for this site, alongside <a href="{% url 'salt_app:lonelymatt' %}">lonelymatt</a></p>.
            <h5>hobbies</h5>
            <p>
                <ul>
                        <li>running</li>
                        <li>skiing</li>
                        <li>tennis</li>
                        <li>volleyball</li>
                        <li>cooking</li>
                        <li>coding</li>
                </ul>
            </p>
        <h5>favorite song</h5>
            <p>never gonna give you up - rick astley</p>
        <h5>favorite career moment</h5>
            <p> <a href="https://www.youtube.com/watch?v=p5zS1HxYVy4" target="_blank">win vs pro player raflow at the genesis x prelocal</a></p>
        <h5>favorite food</h5>
            <p>steak</p>
        <h5>why do you play this game?</h5>
            <p>"it's fun LOL"</p>
{% endblock %}