{% extends "salt/members.html" %}

{% load static %}
{% block content %}

<img id="page-profile-picture" src="{% static 'salt/images/Nessboy.jpg' %}">

<div style="position: absolute;" data-framer-background-image-wrapper="true">
    <img id="margin-image" src="{% static 'salt/images/ness_fsmash.png' %}" style="top: 0px; left: 50px; width: 30%; height: auto; float: left;">
</div>
<h4>nessboy12</h4>
        <h5>andrew nguyen</h5>
        <h5>player</h5>
        <h5>"ness on adderall"</h5>
            <p>nessboy12, often shortened to "nessboy" is a well known ness player within the community and has been competing since 2021. 
                he is primarily known for his flashy combo game and use of ness' advanced techniques, but he's also a long-time member of NorCal's power rankings and has
                accumulated multiple wins on lumi-ranked players such as Raflow, Flow, Ikan, and <a href="{% url 'salt_app:lui$' %}">Lui$</a>.  <br/><br/>
            
                nessboy is also one of the two managers for this site, alongside <a href="{% url 'salt_app:lonelymatt' %}">lonelymatt</a>.</p>
            <h5>other hobbies</h5>
            <p>
                <ul>
                        <li>running</li>
                        <li>skiing</li>
                        <li>tennis</li>
                        <li>volleyball</li>
                        <li>cooking</li>
                        <li>coding</li>
                </ul>
            </p>
        <h5>favorite song</h5>
            <p> <a href="https://www.youtube.com/watch?v=o-YBDTqX_ZU" target="_blank">never gonna give you up - rick astley</a></p>
        <h5>favorite career moment</h5>
            <p> <a href="https://www.youtube.com/watch?v=p5zS1HxYVy4" target="_blank">win vs pro player raflow at the genesis x prelocal</a></p>
        <h5>favorite food</h5>
            <p>steak</p>
        <h5>why do you play this game?</h5>
            <p>"it's fun LOL"</p>
{% endblock %}