{% extends "salt/members.html" %}

{% block content %}

<h4>$hrutik</h4>
        <h5>shrutik kulkarni</h5>
        <h5>team manager/player</h5>
        <h5>"east bay hero"</h5>
            <p>shrutik is formerly nazura</p> 
        <h5>hobbies</h5>
            <p>
                <ul>data science</ul>
                <ul>gym</ul>
                <ul>being a panelist for the norcal power rankings</ul>
                <ul>seeking new food spots</ul>
            </p>
        <h5>favorite song</h5>
            <p> <a href="https://open.spotify.com/track/60ggb7NB66ztsfLsIqfbtn" target="_blank">choices - le sserafim</a></p>
        <h5>notable career moment</h5>
            <p>winning MADE over shaveh (currently <a href="{% url 'salt_app:azrael' %}">azrael</a>) and honda as well as first ever wins over <a href="{% url 'salt_app:dtier' %}">dtier</a></p>
        <h5>favorite food</h5>
            <p>chocolate chip + walnut cookie</p>
        <h5>why do you play this game?</h5>
            <p>"i play this game to inspire others."</p>
{% endblock %}