{% extends "salt/members.html" %}

{% block content %}

<h4>steamy</h4>
        <h5>eli levinson</h5>
        <h5>player</h5>
        <h5>"forever faded"</h5>
        <p>
                Steamy is a NorCal Belmont player previously ranked as #18 in the region with lifetime wins on strong players such as Kiyarash, Marvelous Marco, <a href="{% url 'salt_app:dtier' %}">dtier</a>, Titan, <a href="{% url 'salt_app:nessboy12' %}">nessboy12</a>, <a href="{% url 'salt_app:puresalt' %}">puresalt</a> and more. 
                He is known for his more aggressive style of the zoner archetype as well as his open distain for his character. Steamy got his start in the Wi-Fi covid era and became notable offline after proving his strength against many PR players with his character. 
                He has (begrudgingly) stuck with Belmont throughout his years playing the game and that has made him known for his tricky setups as well as flashy and risky plays with the character.    
        </p> 
        <h5>other hobbies</h5>
        <p>
                <ul>
                        <li>drumming</li>
                        <li>video editing</li>
                        <li>creative writing</li>
                        <li>poker</li>
                </ul>
        </p>
        <h5>favorite song</h5>
        <p> <a href="https://open.spotify.com/track/4HhaWfgPrkxHe5a6L4OdTV" target="_blank">welcome home (sanitarium) - metallica</a></p>
        <h5><a href="" target="_blank"></a>notable career moment</h5>
        <p>win vs raflow at the genesis x2 prelocal</p>
        <h5>favorite food</h5>
        <p>spam masubi</p>
        <h5>why do you play this game?</h5>
        <p>"the game is fun when you're winning, have to keep playing to keep winning"</p>
{% endblock %}